<html>
    <head>
        <title>주문상세조회</title>
        </title>
    </head>
    <body>
        <h2 style="text-align: center;">주문 상세</h2>
    <center>
        <table border="1">
            <tr>
                <td style="background-color:yellow;">회원아이디</td>
                <td>{{cart_member}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">주문번호</td>
                <td>{{cart_no}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">상품코드</td>
                <td>{{cart_prod}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">주문수량</td>
                <td>{{cart_qty}}</td>
            </tr>
        </table>
    </center>
    </body>
</html>